
@{
    ViewBag.Title = "aboutus";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img" style="background-image:url(../../img/bg-img/cta.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">About us</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Advance Search Area Start ##### -->

<!-- ##### Advance Search Area End ##### -->
<!-- ##### About Content Wrapper Start ##### -->
<section class="about-content-wrapper section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                    <h2>We search for the perfect item for you </h2>
                    <p>Your smile is our success</p>
                </div>
                <div class="about-content">
                    <img class="wow fadeInUp" data-wow-delay="350ms" src="/images/img15.jpg" alt="">
                    <p class="wow fadeInUp" data-wow-delay="450ms">There is no other better place in the world, than being in the comfort of our homes. The unity, love, togetherness all comes from a home. Home is the base for every individual and we should thank God for being blessed with a lovable home..</p>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                    <h2>Featured Properties</h2>
                    <p>Your house is not an ASSET, it is a LIABILITY. </p>
                </div>

                <div class="featured-properties-slides owl-carousel wow fadeInUp" data-wow-delay="350ms">

                    <!-- Single Slide -->
                    <div class="single-featured-property">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img8.jpg" alt="">

                            <div class="tag">
                                <span>For Biding purpose</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:34,21,455</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>
                                Villa House/h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">Sreet 9 , Islamabad</p>
                                <p>Pakistan</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">
                                        <img src="/img/icons/new.png" alt="">
                                    </div>
                                    <div class="bathroom">
                                        <img src="/img/icons/bathtub.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="garage">
                                        <img src="/img/icons/garage.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="space">
                                        <img src="/img/icons/space.png" alt="">
                                        <span>1000 sq ft</span>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="single-featured-property">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img9.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr: 122,445</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Town House </h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">street 8, karachi</p>
                            <p>Clifton , karachi</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">
                                    <img src="/img/icons/new.png" alt="">
                                </div>
                                <div class="bathroom">
                                    <img src="/img/icons/bathtub.png" alt="">
                                    <span>2</span>
                                </div>
                                <div class="garage">
                                    <img src="/img/icons/garage.png" alt="">
                                    <span>2</span>
                                </div>
                                <div class="space">
                                    <img src="/img/icons/space.png" alt="">
                                    <span>800 sq ft</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Slide -->
                    <div class="single-featured-property">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img10.jpg" alt="">

                            <div class="tag">
                                <span>For Biding purpose</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:32,42,246</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Valley house</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">Street 13, karachi </p>
                            <p>SMCHS, Karachi</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">
                                    <img src="/img/icons/new.png" alt="">
                                </div>
                                <div class="bathroom">
                                    <img src="/img/icons/bathtub.png" alt="">
                                    <span>2</span>
                                </div>
                                <div class="garage">
                                    <img src="/img/icons/garage.png" alt="">
                                    <span>2</span>
                                </div>
                                <div class="space">
                                    <img src="/img/icons/space.png" alt="">
                                    <span>1200 sq ft</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</section>
<!-- ##### About Content Wrapper End ##### -->
<!-- ##### Call To Action Area Start ##### -->
<section class="call-to-action-area bg-fixed bg-overlay-black" style="background-image:url(../../img/bg-img/cta.jpg)">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-12">
                <div class="cta-content text-center">
                    <h2 class="wow fadeInUp" data-wow-delay="300ms">Are you looking a item to search?</h2>
                    <h6 class="wow fadeInUp" data-wow-delay="400ms">YOur smile is our success</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action Area End ##### -->
<!-- ##### Meet The Team Area Start ##### -->
<section class="meet-the-team-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2>Meet The Team</h2>
                    <p>Your smile is our success.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="250ms">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/img/bg-img/team1.jpg" alt="">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info">
                        <div class="section-heading">
                            <img src="/img/icons/prize.png" alt="">
                            <h2>Jemmy</h2>
                            <p>Realtor</p>
                        </div>
                        <div class="address">
                            <h6><img src="/img/icons/phone-call.png" alt="">0342-5745828</h6>
                            <h6><img src="/img/icons/envelope.png" alt=""> jemmyauction@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/img/bg-img/team2.jpg" alt="">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info">
                        <div class="section-heading">
                            <img src="/img/icons/prize.png" alt="">
                            <h2>Maria </h2>
                            <p>Realtor</p>
                        </div>
                        <div class="address">
                            <h6><img src="/img/icons/phone-call.png" alt=""> 0330-85768743</h6>
                            <h6><img src="/img/icons/envelope.png" alt=""> maria@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Team Member -->
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="750ms">
                    <!-- Team Member Thumb -->
                    <div class="team-member-thumb">
                        <img src="/img/bg-img/team3.jpg" alt="">
                    </div>
                    <!-- Team Member Info -->
                    <div class="team-member-info">
                        <div class="section-heading">
                            <img src="/img/icons/prize.png" alt="">
                            <h2>Mars</h2>
                            <p>Realtor</p>
                        </div>
                        <div class="address">
                            <h6><img src="/img/icons/phone-call.png" alt=""> 0365-64678967</h6>
                            <h6><img src="/img/icons/envelope.png" alt=""> mars@gmail.com</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Meet The Team Area End ##### -->
