
@{
    ViewBag.Title = "blog";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<!-- ##### Breadcumb Area Start ##### -->
<section class="breadcumb-area bg-img" style="background-image:url(/images1/d.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title">Details</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcumb Area End ##### -->
<!-- ##### Blog Area Start ##### -->
<section class="south-blog-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">

                <!-- Single Blog Area -->
                <div class="single-blog-area mb-50">
                    <!-- Post Thumbnail -->
                    <div class="blog-post-thumbnail">
                        <a href="#"><img src="/images/img16.jpg" alt=""></a>
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <div class="post-date">
                            <a href="#">Last Date of Sell</a>
                        </div>
                        <!-- Date -->
                        <div class="post-date">
                            <a href="#">March 09, 2020</a>
                        </div>
                        <!-- Headline -->
                        <a href="#" class="headline" style="font-size:16px;">Search Your Item By Clicking The Button Below</a>
                        <!-- Post Meta -->
                        <!-- Read More btn -->
                        <a href="/Items/Bags" class="btn south-btn">View More</a>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="single-blog-area mb-50">
                    <!-- Post Thumbnail -->
                    <div class="blog-post-thumbnail">
                        <img src="/images/img18.jpg" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <!-- Date -->
                        <div class="post-date">
                            <a href="#">May 19, 2020</a>
                        </div>
                        <!-- Headline -->
                        <a href="#" class="headline" style="font-size:16px;">Search Your Item By Clicking The Button Below</a>
                        <!-- Post Meta -->
                        <!-- Read More btn -->
                        <a href="/auction/Property" class="btn south-btn">View More</a>
                    </div>
                </div>

                <!-- Single Blog Area -->
                <div class="single-blog-area mb-50">
                    <!-- Post Thumbnail -->
                    <div class="blog-post-thumbnail">
                        <img src="/images/img19.jpg" alt="">
                    </div>
                    <!-- Post Content -->
                    <div class="post-content">
                        <!-- Date -->
                        <div class="post-date">
                            <a href="#">July 09, 2020</a>
                        </div>
                        <!-- Headline -->
                        <a href="#" class="headline" style="font-size:16px;">Search Your Item By Clicking The Button Below</a>
                        <!-- Post Meta -->
                        <!-- Read More btn -->
                        <a href="/Items/Cars" class="btn south-btn">View More</a>
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">




                    <!-- Catagories Widget -->
                    <div class="south-catagories-card mb-70">
                        <h5>Categories</h5>
                        <ul class="catagories-menu">
                            <li><a href="/auction/Accessories">ACCESSORIES</a></li>
                            <li><a href="/auction/Furniture">FURNITURE</a></li>
                            <li><a href="/auction/Vehicles">VEHICLES</a></li>
                            <li><a href="/auction/Property">PROPERTY</a></li>
                            <li><a href="/auction/Paintings">PAINTINGS</a></li>
                            <li><a href="/Items/AC">Electronics</a></li>

                        </ul>
                    </div>

                    <!-- Catagories Widget -->
                    <div class="featured-properties-slides owl-carousel">

                        <!-- Single Slide -->
                        <div class="single-featured-property">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img21.jpg" alt="">

                                <div class="tag">
                                    <span>For Bid</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:94679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Home accessories</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">STREET 16, KARACHI</p>
                                <p>DHA GOLF CLUB , PAKISTAN</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Slide -->
                        <div class="single-featured-property">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img22.jpeg" alt="">

                                <div class="tag">
                                    <span>For Bid</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:745679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Home accessories</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">STREET 40 , KARACHI</p>
                                <p>GULSHAN , KARACHI</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- ##### Blog Area End ##### -->
