
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>South - Real Estate Agency Template | Listings</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


</head>
<body>

    <img src="/images/img80.jpg" width="100%" height="90%" />

    <h1 style="color:#C60; font-size:xx-large; font-family:'Palatino Linotype', 'Book Antiqua', Palatino, serif; text-align:center">FAQ QUESTIONS</h1>



    <br /><br />

    <div class="container">

        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                How can I bid in your sales?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />  	Live Bidding You can bid in person at our locations. Once you arrive, you will register for the auction and receive a bid card number.</a></li>
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		Phone Bidding If you cannot make it in person we will call you and facilitate bidding by phone during the auction. Simply call 877-968-8880.</a></li>
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		Absentee Bidding You can do this via fax, computer or phone. Click here to place an absentee bid.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                How are pre-bids executed and how does Live online bidding work?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />  	On the day of the auction, if you left pre-bids online,  these are transferred to the auctioneer fifteen minutes before the auction begins. Our online platforms close for absentee bids and open for live online bidding and to our auction floor. Morphy Auctions utilizes multiple bidding platforms, of which, our primary bidding platform is MorphyLive..</a></li>
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		Live auction floor bidders take precedence, and win any tie bids against the internet. Our auctioneer takes these floor bidders first then checks his computer for your bids. Because this is a live auction, we do not offer “Buy Now” offers due to the agreement with our consignors.</a></li>
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		Phone lines are limited, so please arrange a phone line at least 24 hours prior to the auction. As a phone bidder, your bids will take precedence over internet or absentee bids in a tie bid situation. During your phone bid you will hear the auction and the timing of the sale (the auctioneer does approximately 80 – 100 lots per hour)..</a></li>
            </ul>
        </div>


        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                Why do I need to register?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		 Bidding is considered a contract between you as the bidder and the auction house, therefore you need to register and agree to the terms and conditions of the sale in order to bid on items.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                Why do I need to register for each sale?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		Morphy’s often has multiple sales during the same timeframe therefore registering for each sale confirms which sale you will be bidding on.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                Is there a buyers premium?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		A 20% buyer’s premium will be added to all successful bids and is payable by the purchaser as part of the total purchase cost. A 3% fee is applied to payments made by credit card. Our third party platforms have additional fees. Please refer to your preferred platform which will indicate the buyer’s premium for that particular platform and auction.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                How many people work for you?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		We currently employ approximately 60 staff members.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                Where are your sales held?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		Our auctions are held in Denver, Pennsylvania.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                How many sales do you conduct per year?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		On average 25 – 30 auctions per year.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                Who do you use to provide catalog descriptions, condition reports and estimates for your sales?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		We have our own team of experts encompassing many different categories of antiques and collectibles. When it comes to highly specialized niche categories, we enlist the services of noted authorities whom we consider to have the greatest knowledge and best reputation within their given field in order to ensure accurate and trustworthy appraisals.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                How do I know if my bid on an item has been successful?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		Morphy Auctions notifies successful bidders approximately two (2) days after close of an auction by e-mail.</a></li>
            </ul>
        </div>

        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                What do I do if I've won an item(s)?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		If you attended the auction live, you have the option of paying your invoice and picking up your items while on the premise. If you do not pay and pick up your items that day, you will receive your invoice approximately two (2) days after the close of an auction via e-mail. Your invoice will include each item you won, buyer’s premium, any additional third party fees and shipping fees..</a></li>
            </ul>
        </div>


        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                How do I pay for my invoice?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#"><img src="/images/img81.png" width="2%" height="2%" />		All merchandise must be paid for in full within the time period stated in the terms and conditions. We accept: Visa, MasterCard, Discover, American Express, personal checks, certified checks, wire transfers, money orders, and cash. Make checks payable to: Morphy Auctions. Morphy Auctions reserves the right to hold items paid for by personal check until the check clears. Call 877-968-8880 to pay your invoice by phone.</a></li>
            </ul>
        </div>


        <br /><br />


        <div class="dropdown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                What if I bid on a third party platform?
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">
                        <img src="/images/img81.png" width="2%" height="2%" />		Please wait until you receive your invoice if you are bidding on third party platforms, as we cannot generate an invoice until the conclusion of the auction you are participating in.
                    </a>
                </li>
            </ul>
        </div>

    </div>



    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <script src="/js/classy-nav.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>
</body>
</html>
