
@{
    ViewBag.Title = "Furniture";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>Furniture</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Furniture</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

</head>



<body>
    <!-- Preloader -->
    

    <!-- ##### Header Area Start ##### -->
    
    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url(/images1/2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Furniture</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Advance Search Area Start ##### -->
 
    <!-- ##### Advance Search Area End ##### -->
    <!-- ##### Listing Content Wrapper Area Start ##### -->
    <section class="listings-content-wrapper section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="listings-top-meta d-flex justify-content-between mb-100">
                        <div class="view-area d-flex align-items-center">
                            <span>View as:</span>
                            <div class="grid_view ml-15"><a href="#" class="active"><i class="fa fa-th" aria-hidden="true"></i></a></div>
                            <div class="list_view ml-15"><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></div>
                        </div>
                      
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img47.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:45,679</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Sofa Set</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 21 january 2020</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img46.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:75,436</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>homeset</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">MURREE</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 21 Febuary 2020</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img48.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:48,578</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Set For Launch</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">ISLAMABAD</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 15 March 2020</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img51.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:23,679</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>white Set</h5>
                            <p class="location"><img src=".img/icons/location.png" alt="">ISLAMABAD</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 17 July 2020</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img49.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:35,679</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Bedroom</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 20 May 2020.</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img53.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:15,679</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Lawn Set</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">LAHORE</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 19 March 2020</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img54.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:67,679</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Child Set</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 10 May 2020</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img55.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:54,679</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Bedroom Set</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">KASHMIR</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 10 December 2020</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Single Featured Property -->
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="single-featured-property mb-50">
                        <!-- Property Thumbnail -->
                        <div class="property-thumb">
                            <img src="/images/img56.jpg" alt="">

                            <div class="tag">
                                <span>For Biding</span>
                            </div>
                            <div class="list-price">
                                <p>Pr:42,679</p>
                            </div>
                        </div>
                        <!-- Property Content -->
                        <div class="property-content">
                            <h5>Sitting Set</h5>
                            <p class="location"><img src="/img/icons/location.png" alt="">SUKKUR, PAKISTANS</p>
                            <a href="#" style="color:#CA8C4F">View More</a>
                            <p>Last date of Biding: 10 November 2020.</p>
                            <div class="property-meta-data d-flex align-items-end justify-content-between">
                                <div class="new-tag">

                                </div>
                                <div class="bathroom">

                                </div>
                                <div class="garage">

                                </div>
                                <div class="space">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="south-pagination d-flex justify-content-end">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link active" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Listing Content Wrapper Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <script src="/js/classy-nav.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
</html>