
@{
    ViewBag.Title = "Paintings";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>Paintings</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>South - Real Estate Agency Template | Listings</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
  

   
    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcumb Area Start ##### -->
    <form method="post">
        <section class="breadcumb-area bg-img" style="background-image: url(/images1/p.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcumb-content">
                            <h3 class="breadcumb-title">Paintings</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ##### Breadcumb Area End ##### -->
        <!-- ##### Advance Search Area Start ##### -->
        <!-- ##### Advance Search Area End ##### -->
        <!-- ##### Listing Content Wrapper Area Start ##### -->
        <section class="listings-content-wrapper section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="listings-top-meta d-flex justify-content-between mb-100">
                            <div class="view-area d-flex align-items-center">
                                <span>View as:</span>
                                <div class="grid_view ml-15"><a href="#" class="active"><i class="fa fa-th" aria-hidden="true"></i></a></div>
                                <div class="list_view ml-15"><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <h1 style="text-align:center;" class="breadcumb-title">INCREDIBLE PAINTINGS FOR SELL</h1>


                <div class="row">

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img32.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:45,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Painting</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                                <p>Last date of Biding: 21 january 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img32.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img36.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:75,436</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Orange Painting</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">MURREE</p>
                                <p>Last date of Biding: 21 Febuary 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img36.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img35.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:48,578</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Yellow Painting</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">ISLAMABAD</p>
                                <p>Last date of Biding: 15 March 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img35.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img38.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:23,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Colourful Painting</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">ISLAMABAD</p>
                                <p>Last date of Biding: 16 July 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img38.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img41.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:19,45,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Blue Painting</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                                <p>Last date of Biding: 20 May 2020.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img41.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img40.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:11,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Painting</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">LAHORE</p>
                                <p>Last date of Biding: 19 March 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img40.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img42.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:13,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Sea Sore </h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                                <p>Last date of Biding: 5 May 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img42.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img43.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:19,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Purple Painting</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">KASHMIR</p>
                                <p>Last date of Biding: 15 December 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img43.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img44.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:14,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Sweet Painting</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">SUKKUR, PAKISTANS</p>
                                <p>Last date of Biding: 1 November 2020.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/images/img44.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </form>
    <!-- ##### Listing Content Wrapper Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    
    <!-- ##### Footer Area End ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <script src="/js/classy-nav.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>
</html>
