
@{
    ViewBag.Title = "Generators";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>Generators</h2>


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>South - Real Estate Agency Template | Listings</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <style>
        .myclass:hover {
            color: burlywood
        }

        .myclass {
            color: saddlebrown
        }
    </style>
</head>



<body>


    <!-- ##### Header Area End ##### -->
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url(/images1/15.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">GENERATORS</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Advance Search Area Start ##### -->
    <!-- ##### Advance Search Area End ##### -->
    <!-- ##### Listing Content Wrapper Area Start ##### -->
    <form method="post">
        <section class="listings-content-wrapper section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="listings-top-meta d-flex justify-content-between mb-100">
                            <div class="view-area d-flex align-items-center">
                                <span>View as:</span>
                                <div class="grid_view ml-15"><a href="#" class="active"><i class="fa fa-th" aria-hidden="true"></i></a></div>
                                <div class="list_view ml-15"><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/Daewoo electric.jpg" style="height:250px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:32K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Daewoo Electric Generator</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""></p>
                                <p>Last date of Biding: 21 january 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/Daewoo electric.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/honda.jpg" style="height:250px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:32K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Honda </h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""></p>
                                <p>Last date of Biding: 21 Febuary 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/honda.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/Branded Gas ges.jpg" style="width:100%; height:250px;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:55K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Branded Gas Generator</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""></p>
                                <p>Last date of Biding: 15 March 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/Branded Gas ges.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/Diesel generator.jpg" style="width:100%; height:250px;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:29.3K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Diesel Generator</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""></p>
                                <p>Last date of Biding: 19 July 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/Diesel generator.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/liquid cooled diesel generator.png" style="width:100%; height:250px;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:80K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Liquid Cooled Diesel Generator</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""></p>
                                <p>Last date of Biding: 20 May 2020.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/liquid cooled diesel generator.png" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/portable generator.jpg" style="width:100%; height:250px;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:25K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Portable Generator</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""></p>
                                <p>Last date of Biding: 19 March 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/portable generator.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <div class="south-pagination d-flex justify-content-end">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link active" href="/auction/Accessories">01</a></li>
                                        <li class="page-item"><a class="page-link" href="/Items/Shoes">02</a></li>
                                        <li class="page-item"><a class="page-link" href="/Items/Lamps">03</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </form>
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <script src="/js/classy-nav.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
</html>