
@{
    ViewBag.Title = "Lamps";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>Lamps</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>South - Real Estate Agency Template | Listings</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <style>
        .myclass:hover {
            color: burlywood
        }

        .myclass {
            color: saddlebrown
        }
    </style>
</head>

<body>
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url(/images1/lamp.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Lamps</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Advance Search Area Start ##### -->
  
    <!-- ##### Advance Search Area End ##### -->
    <!-- ##### Listing Content Wrapper Area Start ##### -->
    <form method="post">
        <section class="listings-content-wrapper section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="listings-top-meta d-flex justify-content-between mb-100">
                            <div class="view-area d-flex align-items-center">
                                <span>View as:</span>
                                <div class="grid_view ml-15"><a href="#" class="active"><i class="fa fa-th" aria-hidden="true"></i></a></div>
                                <div class="list_view ml-15"><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <h1 style="text-align:center; color:#000; font-weight:900; font-size:36px">LAMPS FOR BIDDING</h1>
                <br><br>
                <div class="row">

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img128.jpg" alt="">

                                <div class="tag">
                                    <span>For Sale</span>
                                </div>
                                <div class="list-price">
                                    <p>5,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Lamp</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""> PAKISTAN</p>
                                <p>Last date : 21 january 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img127.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:5,436</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Lamp</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""> PAKISTAN</p>
                                <p>Last date : 21 Febuary 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img126.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:8,578</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Lamp</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""> PAKISTAN</p>
                                <p>Last date : 15 March 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img125.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:3,379</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Khans House</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""> PAKISTAN</p>
                                <p>Last date : 16 July 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img124.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:2,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Lamp</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""> PAKISTAN</p>
                                <p>Last date : 20 May 2020.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img123.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:1,179</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Lamp</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">LAHORE, PAKISTAN</p>
                                <p>Last date : 19 March 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img122.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:5,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Lamp</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""> PAKISTAN</p>
                                <p>Last date : 5 May 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">
                                        <img src="/img/icons/new.png" alt="">
                                    </div>
                                    <div class="bathroom">
                                        <img src="/img/icons/bathtub.png" alt="">
                                        <span>4</span>
                                    </div>
                                    <div class="garage">
                                        <img src="/img/icons/garage.png" alt="">
                                        <span>2</span>
                                    </div>
                                    <div class="space">
                                        <img src="/img/icons/space.png" alt="">
                                        <span>500 sq ft</span>
                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img121.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:1879</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Lamp</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""> PAKISTAN</p>
                                <p>Last date : 15 December 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="/images/img120.jpg" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:1,679</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Lamp</h5>
                                <p class="location"><img src="/img/icons/location.png" alt=""> PAKISTANS</p>
                                <p>Last date : 1 November 2020.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>

                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="south-pagination d-flex justify-content-end">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link active" href="#">01</a></li>
                                    <li class="page-item"><a class="page-link" href="#">02</a></li>
                                    <li class="page-item"><a class="page-link" href="#">03</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- ##### Listing Content Wrapper Area End ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <script src="/js/classy-nav.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
</html>
