
@{
    ViewBag.Title = "Tables";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<h2>Tables</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Furniture</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="style.css">
    <style>
        .myclass:hover {
            color: burlywood
        }

        .myclass {
            color: saddlebrown
        }
    </style>
</head>



<body>
    <!-- Preloader -->
    <!-- ##### Header Area Start ##### -->
    <!-- ###
        ## Header Area End ##### -->
    <!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img" style="background-image: url(/images1/7.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Tables</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->
    <!-- ##### Advance Search Area Start ##### -->
   
    <!-- ##### Advance Search Area End ##### -->
    <!-- ##### Listing Content Wrapper Area Start ##### -->
    <form method="post">
        <section class="listings-content-wrapper section-padding-100">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="listings-top-meta d-flex justify-content-between mb-100">
                            <div class="view-area d-flex align-items-center">
                                <span>View as:</span>
                                <div class="grid_view ml-15"><a href="#" class="active"><i class="fa fa-th" aria-hidden="true"></i></a></div>
                                <div class="list_view ml-15"><a href="#"><i class="fa fa-th-list" aria-hidden="true"></i></a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t1.jpg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:65K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Glass Table With Green Formica</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                                <p>Last date of Biding: 21 january 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="/img/bg-img/feature1.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t2.jpg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:75K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Black Wooden Table</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">MURREE</p>
                                <p>Last date of Biding: 21 Febuary 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/t2.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t3.jpg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:15K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Simple Wooden Table</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">ISLAMABAD</p>
                                <p>Last date of Biding: 15 March 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/t3.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t4.jpg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:50K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Formica Set</h5>
                                <p class="location"><img src=".img/icons/location.png" alt="">ISLAMABAD</p>
                                <p>Last date of Biding: 17 July 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/t4.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t5.jpeg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:90K</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Full Wooden Dinning Set Set</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                                <p>Last date of Biding: 20 May 2020.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/t5.jpeg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t6.jpg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:1 Lac</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>White Glass Dinning Set</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">LAHORE</p>
                                <p>Last date of Biding: 19 March 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/t6.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t7.jpg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:20 Thousand</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Wooden Table</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">KARACHI</p>
                                <p>Last date of Biding: 10 May 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/t7.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t9.jpg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:60 Thousands</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Dinning Set</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">KASHMIR</p>
                                <p>Last date of Biding: 10 December 2020</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/t9.jpg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Featured Property -->
                    <div class="col-12 col-md-6 col-xl-4">
                        <div class="single-featured-property mb-50">
                            <!-- Property Thumbnail -->
                            <div class="property-thumb">
                                <img src="~/images/t10.jpeg" style="height:200px; width:100%;" alt="">

                                <div class="tag">
                                    <span>For Biding</span>
                                </div>
                                <div class="list-price">
                                    <p>Pr:15 Thousands</p>
                                </div>
                            </div>
                            <!-- Property Content -->
                            <div class="property-content">
                                <h5>Rounded Glass Table</h5>
                                <p class="location"><img src="/img/icons/location.png" alt="">SUKKUR, PAKISTANS</p>
                                <p>Last date of Biding: 10 November 2020.</p>
                                <div class="property-meta-data d-flex align-items-end justify-content-between">
                                    <div class="new-tag">

                                    </div>
                                    <div class="bathroom">

                                    </div>
                                    <div class="garage">

                                    </div>
                                    <div class="space">

                                    </div>
                                </div>
                                <div style="margin-top:10px;">
                                    <input type="submit" class="south-btn" value="Bid Now" string name="btn" onclick="this.form.submit()" />
                                    <a href="~/images/t10.jpeg" style="color:brown; float:right; margin-top:15px;">VIEW</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="south-pagination d-flex justify-content-end">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link active" href="/auctio/Furniture">01</a></li>
                                    <li class="page-item"><a class="page-link" href="/Items/Tables">02</a></li>
                                    <li class="page-item"><a class="page-link" href="/Items/Beds">03</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- ##### Listing Content Wrapper Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <script src="/js/classy-nav.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>
</html>